$defaultBorderWidth:1px;
$defaultBorderColor:#e6e6e6;
$defaultBorderStyle:solid;

.border_left {
  border-left-width: $defaultBorderWidth;
  border-left-color: $defaultBorderColor;
  border-left-style: $defaultBorderStyle;
}
.border_right {
  border-right-width: $defaultBorderWidth;
  border-right-color: $defaultBorderColor;
  border-right-style: $defaultBorderStyle;
}
.border_top {
  border-top-width: $defaultBorderWidth;
  border-top-color: $defaultBorderColor;
  border-top-style: $defaultBorderStyle;
}
.border_bottom {
  border-bottom-width: $defaultBorderWidth;
  border-bottom-color: #e6e6e6;
  border-bottom-style: $defaultBorderStyle;
}
.border_all{
  border-width: $defaultBorderWidth;
  border-color: $defaultBorderColor;
  border-style: $defaultBorderStyle;
}
