.flex_row {
  flex-direction: row;
}

.flex_center {
  justify-content: center;
  align-items: center;
}
.flex_between{
  justify-content: space-between;
  align-items: center;
}

.flex_v_center{
  align-items: center;
}

.flex_cell{
  flex: 1;
}
.default_bg_color{
  background-color:#f6f6f6 ;
}
.bg_white{
  background-color: #ffffff;
}