.flex_row {
  flex-direction: row;
}

.flex_center {
  justify-content: center;
  align-items: center;
}
.flex_v_between{
  justify-content: space-between;
  align-items: center;
}
.flex_between{
  justify-content: space-between;
}
.flex_h_end{
  justify-content: flex-end;
}
.flex_v_end{
  align-items: flex-end;
}

.flex_v_center{
  align-items: center;
}
.flex_h_center{
  justify-content: center;
}

.flex_cell{
  flex: 1;
}
.default_bg_color{
  background-color:#f2f2f2 ;
}
.bg_white{
  background-color: #ffffff;
}