
@mixin paddingTb25{
  padding-top: 25px;
  padding-bottom: 25px;
}

@mixin paddingLr20{
  padding-left: 20px;
  padding-right: 20px;
}

.padding_left_20 {
  padding-left: 20px;
}
.padding_right_20 {
  padding-right: 20px;
}

.padding_tb_25{
  @include paddingTb25;
}

.padding_20{
  @include paddingLr20;
  @include paddingTb25;
}
.p_desc_title{
  @include paddingLr20;
  padding-top: 20px;
  padding-bottom: 7px;
}