$defaultFontSize: 32px;  /*默认字体大小*/
$smallFontSize:28px;    /*小号字体*/

$defaultFontColor:#3c3c3c;  /*默认字体颜色*/
$color99999:#999999;

@mixin default_font_Size{
  font-size:$defaultFontSize;
}

.text_default{
  color:$defaultFontColor ;
  @include default_font_Size;
}

.text_ff9800{
  @include default_font_Size;
  color: #ff9800
}

.text_ff9800_small{
  font-size: $smallFontSize;
  color: #ff9800
}
.text_red{
  @include default_font_Size;
  color: red;
}

.text_red_small{
  font-size: $smallFontSize;
  color: red;
}
.text_999 {
  font-size:$defaultFontSize;
  color: $color99999;
}

.text_small{
  color: $defaultFontColor;
  font-size:$smallFontSize;
}
.text_999_small{
  font-size:$smallFontSize;
  color: $color99999;

}

.text_right{
  text-align: right;
}
.text_ellipsis_1{
  text-overflow: ellipsis;
  lines:1;
}
.text_ellipsis_2{
  text-overflow: ellipsis;
  lines:2;
}